.custom-checkbox {
  input[type="checkbox"] {
    display: none;

    &:checked {
      ~ label {
        &:after {
          content: '';
          position: absolute;
          left: 8px;
          top: -3px;
          width: 8px;
          height: 16px;
          border: solid $color-red;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      } 
    }

    ~ label {
      position: relative;
      padding-left: 25px;
      line-height: 18px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        border: 1px solid #CCC;
      }
    }
  }
}