.admin__camp {
  background: $color-light-grey;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #CCC;

  &__body {
    display: flex;
    margin-bottom: 20px;
  }

  &__image {
    width: 150px;
    height: 112px;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
  }

  &__title {
    font-size: 15px;
    color: #7d7d7d;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -5px;
    min-height: 42px;
  }

  &__descr {
    flex-grow: 1;
  }

  &__actions {
    .btn + .btn {
      margin-left: 15px;
    }
  }

  &__footer {
    .btn + .btn {
      margin-left: 10px;
    }
  }
}