$color-blue: #1ba7dd;
$color-dark-blue: #006df0;
$color-sea: #16aaaf;
$color-red: #e95a50;
$color-orange: #ffa800;
$color-green: #69bc5d;
$color-yellow: #eae21f;
$color-grey: #afafaf; 
$color-dark-grey: #888; 
$color-light-grey: #f7f7f7; 
$color-salat: #64e700;

$color-main: $color-yellow;
$color-secondary: $color-green;

$font-secondary: 'Futura Round';

$animate-time: .1s;

$shadow-2dp: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
$shadow-4dp: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
$shadow-6dp: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
$shadow-8dp: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);

$image-logo-footer: '../../images/logo-footer.png';
$image-logo: '../../images/logo.png';

$image-badge-hot: '../../images/badge-hot.png';
$image-bg-happy-kids: '../../images/bg-happy-kids.jpg';
$image-bg-happy-kids-footer: '../../images/bg-happy-kids-footer.jpg';
$image-bg-blue: '../../images/bg-blue.jpg';
$image-bg-footer-kid-1: '../../images/bg-footer-kid-1.png';
$image-bg-footer-kid-2: '../../images/bg-footer-kid-2.png';
$image-icon-arrow-left-slider: '../../images/icon-arrow-left-slider.png';
$image-icon-arrow-right-slider: '../../images/icon-arrow-right-slider.png';
$image-icon-arrow-right-small: '../../images/icon-arrow-right-small.png';
$image-icon-call-time: '../../images/icon-call-time.png';
$image-icon-job-time: '../../images/icon-job-time.png';
$image-icon-pointer: '../../images/icon-pointer.png';
$image-icon-plus-blue: '../../images/icon-plus-blue.png';
$image-icon-plus-blue-big: '../../images/icon-plus-blue-big.png';
$image-icon-close-red: '../../images/icon-close-red.png';
$image-icon-edit-blue: '../../images/icon-edit-blue.png';
$image-icon-hide-blue: '../../images/icon-hide-blue.png';
$image-wave: '../../images/wave.png';
$image-wave-2: '../../images/wave-2.png';
$image-wash-kid: '../../images/wash-kid.png';
$image-yellow-dialog: '../../images/yellow-dialog.png';